{% extends 'aws_new.html' %}
{% block container %}
            <section id="main" class="wrapper">
                <div class="container">
                    <header class="major">
						<h2>AWS Verification</h2>
						<p>Please mentioned below details to varify your AWS credentials.</p>
					</header>

					<!-- <a href="/aws" class="image fit"><img src="/static/images/aws_logo.png" alt="" /></a> -->

                    <form role="form" method="post" action="/aws" id="awsform">
                        <div class="row uniform" 50%>
                            <div class="6u 12u$(4)">
                                AWS Access Key: <input type="text" name="access_key" value="{{ request.form.access_key }}" required><br>
                            </div>

							<div class="6u$ 12u$(4)">
                                AWS Secret Key: <input type="text" name="secret_key" value="{{ request.form.secret_key }}" required><br>
							</div>
                            <div class="12u$">
                                <div class="select-wrapper">
                                    AWS Regions:
                                    <select name="region" form="awsform">
										<option value="ap-south-1">Asia Pacific (Mumbai)</option>
										<option value="ap-southeast-2">Asia Pacific (Sydney)</option>
                                        <option value="ap-southeast-1">Asia Pacific (Singapore)</option>
										<option value="us-east-1">US East (N. Virginia)</option>
										<option value="us-east-2">US East (Ohio)</option>
										<option value="us-west-1">US West (N. California)</option>
                                        <option value="us-west-2">US West (Oregon)</option>
                                        <option value="ca-central-1">Canada (Central)</option>
                                        <option value="eu-west-1">EU (Ireland)</option>
                                        <option value="eu-west-2">EU (London)</option>
									</select>
								</div>
                            </div>
                            <div class="12u$">
                                <ul class="actions">
								    <li><input type="submit" name="submit" value="Verify" class="special" /></li>
									<li><input type="reset" name="Reset" value="Reset" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
{% endblock %}