<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AWS</title>
</head>
<body>
    <form role="form" method="post" action="/aws">
    AWS Access Key: <input type="text" name="access_key" value="{{ request.form.access_key }}" required><br>
	AWS Secret Key: <input type="text" name="secret_key" value="{{ request.form.secret_key }}" required><br>
	AWS Region: <input type="text" name="region" value="{{ request.form.region }}" required><br>

	<input type="submit" name="Submit" value="Check">
	<input type="reset" name="Reset"><br>
    </form>
</body>
</html>